<% include header %>
	<!-- 路径导航 -->
	<ol class="breadcrumb">
	  <li><a href="#">链接管理</a></li>
	  <li class="active">链接列表</li>
	</ol>
	<!-- 路径导航 end -->

	<!-- 数据列表 -->
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-bordered">
				<tr class="table-th-bg">
					<th>排序</th>
					<th>链接名称</th>
					<th>链接地址</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				<% links.forEach(function(val){ %>
					<tr>
						<td><%= val.order %></td>
						<td><%= val.name %></td>
						<td><%= val.url %></td>
						<td><%= val.ctime.toLocaleString() %></td>
						<td>
							<a href="/admin/linkEdit/<%=val._id%>">编辑</a>
							|
							<a href="/admin/linkRemove/<%=val._id%>" onclick="return confirm('您确定要删除吗?')">
								删除
							</a>
						</td>
					</tr>
				<% })%>
			</table>
		</div>
	</div>



<% include footer %>
